src/data.dtd

<!ELEMENT employee (id,first_name,last_name,email,gender,portfolio,salary,SkillSet)>
<!ELEMENT employees (employee*)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT first_name (#PCDATA)>
<!ELEMENT last_name (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT gender (#PCDATA)>
<!ELEMENT portfolio (#PCDATA)>
<!ELEMENT salary (#PCDATA)>
<!ELEMENT SkillSet (#PCDATA)>